@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;700&family=EB+Garamond:wght@700&display=swap');
:root {
    /* fonts */
    --be-vietnam: 'Be Vietnam Pro', sans-serif;
    --eb-garamond: 'EB Garamond', serif;
    /* light mode */
    --black: #202020;
    --blue: #0065FF;
    --grey-bg: #F8F9FA;
    --white-bg: #E5E5E5;
    /* dark mode */
    --white: #FAF4E6;
    --black-bg: #222222;
}

body {
    font-family: var(--be-vietnam);
    color: var(--black);
}

a {
    text-decoration: none;
}


/* navbar */

.navbar {
    display: flex;
    padding: 1.563rem;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 25px 65px rgba(0, 0, 0, 0.15);
}

.navbar__title {
    text-decoration: none;
    font-weight: 700;
    font-size: 1.25rem;
    color: var(--black);
}

.navbar__switcher {
    display: flex;
}

.navbar__switcher {
    align-items: center;
    font-size: 0.875rem;
    font-weight: 400;
    gap: 0.462rem;
}


/* card */

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
    row-gap: 2.5rem;
}

.card img {
    width: 100px;
    border-radius: 50%;
    box-shadow: 0px 25px 65px rgba(0, 0, 0, 0.15);
}

.card h1 {
    text-align: center;
    font-weight: 700;
    font-size: 2rem;
    font-family: var(--eb-garamond);
    color: var(--blue);
}

hr {
    margin: 0 0;
    padding: 0 0;
}

.card hr {
    padding: 0 5.75rem;
}


/* main */

.main {
    padding: 2.75rem 1.563rem 0 2.5rem;
    display: flex;
    flex-direction: column;
    row-gap: 1.563rem;
}

.main__text {
    display: flex;
    flex-direction: column;
    row-gap: 2.25rem;
    font-size: 1.063rem;
    line-height: 1.553rem;
}

.main a {
    color: var(--blue);
}

.main__box {
    background-color: var(--grey-bg);
    padding: 1.25rem;
    margin: 0 1.875rem 0 0.625rem;
    border-radius: 10px;
    display: flex;
    align-items: flex-start;
    font-size: 0.75rem;
}

.main__box img {
    margin-right: 0.641rem;
}

.main__box p {
    font-weight: 400;
    font-size: 0.75rem;
    line-height: 1rem;
}

.separator {
    background-color: var(--blue);
    border: none;
    height: 0.063rem;
}

.sep2 {
    margin: 3.125rem 2rem 1.563rem 2rem;
}


/* posts */

.posts {
    margin: 0 2rem;
    display: flex;
    flex-direction: column;
    row-gap: 1.563rem;
    margin-bottom: 1.563rem;
    align-items: center;
}

.posts__main {
    display: flex;
    flex-direction: column;
    row-gap: 1.563rem;
}

.posts h2,
h4 {
    text-align: center;
}

.posts h2 {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--blue);
}

.posts h4 {
    font-size: 1.25rem;
    font-weight: 700;
    margin-bottom: 0.625rem;
}

.posts p {
    font-size: 1.063rem;
    line-height: 1.553rem;
    font-style: normal;
}

.posts img {
    width: 100%;
    margin-bottom: 1.063rem;
}

.posts__post {
    display: flex;
    flex-direction: column;
}

.posts__post p {
    margin-bottom: 1.563rem;
}

.button {
    width: 100%;
    padding: 1rem 0;
    border: 1px solid var(--blue);
    border-radius: 44.5px;
    color: var(--blue);
    font-weight: 700;
    font-size: 0.75rem;
    align-self: center;
    text-align: center;
}