@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;700&family=EB+Garamond:wght@700&display=swap');
:root {
    /* fonts */
    --be-vietnam: 'Be Vietnam Pro', sans-serif;
    --eb-garamond: 'EB Garamond', serif;
    /* light mode */
    --black: #202020;
    --blue: #0065FF;
    --grey-bg: #F8F9FA;
    --white-bg: #E5E5E5;
    /* dark mode */
    --white: #FAF4E6;
    --black-bg: #222222;
}

.navbar {
    display: flex;
    padding: 1.563rem;
    justify-content: space-between;
    align-items: center;
    font-family: var(--be-vietnam);
    box-shadow: 0px 25px 65px rgba(0, 0, 0, 0.15);
}

.navbar__title {
    text-decoration: none;
    font-weight: 700;
    font-size: 1.25rem;
    color: var(--black);
}

.navbar__switcher {
    display: flex;
}

.navbar__switcher {
    align-items: center;
    font-size: 0.875rem;
    font-weight: 400;
    gap: 0.462rem;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
    row-gap: 2.5rem;
}

.card img {
    /* duvida: coloco 100x100 (como ta no figma, em rem?) */
    max-width: 33%;
    border-radius: 50%;
    box-shadow: 0px 25px 65px rgba(0, 0, 0, 0.15);
}

.card h1 {
    text-align: center;
    font-weight: 700;
    font-size: 2rem;
    font-family: var(--eb-garamond);
    color: var(--blue);
}

hr {
    margin: 0 0;
    padding: 0 0;
}

.card hr {
    height: 1px;
    background-color: var(--blue);
    border: none;
    padding: 0 5.75rem;
}