:root {
    --open-sans: 'Open Sans', sans-serif;
    --verde-opaco: #7ED32166;
    --verde-texto: #1C4701;
    --verde: #7ED321;
    --preto: #000000;
}

* {
    box-sizing: border-box;
}

body {
    font-family: var(--open-sans);
}


/* index.html */

.header {
    display: flex;
    justify-content: space-between;
    margin: 27px 15px;
    align-items: center;
}

.header__navigation {
    display: flex;
    gap: 35px;
}

.header__link {
    text-decoration: none;
    text-transform: uppercase;
    color: var(--preto);
    font-weight: 700;
}

.button {
    border-radius: 15px;
}

.header__button {
    background-color: var(--verde-opaco);
    padding: 9px 32px;
}

.main {
    max-width: 830px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px auto;
    gap: 100px;
}

.main__content h1 {
    width: 120%;
}

.main__text {
    font-size: 48px;
    font-weight: 700;
    line-height: 65px;
    margin-bottom: 50px;
}

.main__button {
    background-color: var(--verde);
    color: var(--verde-texto);
    text-decoration: none;
    padding: 13px 55px;
    font-weight: 700;
    font-size: 18px;
}

.main__image {
    margin-top: 25px;
}


/* quem-somos.html */

.quemsomos {
    max-width: 687px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 64px auto;
    gap: 16px;
}

.quemsomos__title {
    text-align: center;
    margin-bottom: 12px;
    font-weight: 700;
    font-size: 48px;
}

.quemsomos__text {
    text-align: justify;
    font-weight: 400;
    line-height: 22px;
}

.quemsomos__image {
    align-self: center;
    /* width: 50%; */
}


/* blog.html */

.blog {
    max-width: 1080px;
    display: flex;
    flex-direction: column;
    margin: 4rem auto 0 auto;
}

.blog h1 {
    text-align: center;
    margin-bottom: 0.8rem;
    font-weight: 700;
    font-size: 3rem;
    margin-bottom: 3.125rem;
}

.blog__post {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.blog__post h2 {
    font-weight: 700;
    font-size: 2rem;
}

.blog__post p {
    line-height: 1.375rem;
    text-align: justify;
}

.blog__post-text {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.blog__posts-container {
    display: flex;
    flex-direction: column;
    gap: 2.8rem;
}


/* contato.html */

.contato-button {
    background-color: #7ED321;
}

.contato__title {
    margin-top: 5rem;
    font-weight: 700;
    font-size: 3rem;
    text-align: center;
}

.contato__container {
    display: flex;
    margin: 2rem auto 0 auto;
    align-items: center;
    justify-content: center;
}

.contato__container-form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem 1.25rem;
}

.contato__container-field {
    display: flex;
    justify-content: space-between;
}

.contato__container-field label {
    font-weight: 700;
    font-size: 1.1rem;
    width: 25%;
    text-align: center;
    line-height: 24.51px;
}

.contato__container-field input,
textarea {
    border: 1px solid #9F9F9F;
    box-sizing: border-box;
    border-radius: 7px;
    width: 419px;
    height: 43px;
}

.contato__container-field textarea {
    height: 160px;
    font-family: var(--open-sans);
    resize: none;
}

.contato__container-field input::placeholder,
textarea::placeholder {
    color: #9F9F9F;
    font-size: 14px;
    font-weight: 700;
    padding: 12px 0 0 13px;
}

.contato__container-button {
    display: flex;
    justify-content: flex-end;
}

.contato__container-button button {
    background: #7ED321;
    border-radius: 10px;
    border: none;
    width: 141px;
    height: 42px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    color: #1C4701;
}